<h1>Create Model</h1>
<hr />
<form [formGroup]="form" (submit)="onSubmit()">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-12">
        <input class="form-control mb-4" formControlName="title" type="text" placeholder="Enter title..." />
      </div>
      <div class="col-lg-5 col-12">
        <input class="form-control" formControlName="description" type="text" placeholder="Enter Description..." />
      </div>
      <div class="col-lg-5 col-12">
        <label class="mb-2">Sort Value</label>
        <input class="form-control mb-4" formControlName="sortval" type="number"
          placeholder="Enter Integer Number... " />
      </div>
      <div class="col-lg-5 col-12 mb-4">
        <input class="form-control" (change)="onFileSelect($event)" type="file" accept=".png, .jpg, .jpeg" />
        <div class="col-lg-5 col-12 mt-4">
          <img [src]="imageData || form.get('image')?.value" [alt]="form.value.name" width="200" height="200" />
        </div>
      </div>

      <div class="col-lg-5 col-12">
        <select formControlName="productdetails" multiple size="15" class="form-control">
          <option>
            none
          </option>
          <option *ngFor="let item of productDetailsList" [value]="item">
            {{ item.title }}
          </option>
        </select>
      </div>
      <div class="mt-4">
        <button mat-raised-button color="primary" [disabled]="!form.valid" type="submit">
          Create Model
        </button>
      </div>
    </div>
  </div>
</form>