<h1 class="text-2xl font-bold mb-4">Create Client</h1>
<hr class="mb-6" />

<form [formGroup]="form" (submit)="onSubmit()">
  <div class="flex flex-wrap gap-6">

    <!-- Title -->
    <div class="w-full lg:w-5/12">
      <input
        class="w-full p-2 mb-4 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-blue-200"
        formControlName="title" type="text" placeholder="Enter title..." />
    </div>

    <!-- Description -->
    <div class="w-full lg:w-5/12">
      <input
        class="w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-blue-200"
        formControlName="description" type="text" placeholder="Enter Description..." />
    </div>

    <!-- File Upload + Preview -->
    <div class="w-full lg:w-5/12 mb-4">
      <input
        class="w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-blue-200"
        (change)="onFileSelect($event)" type="file" />
      <div *ngIf="imageData" class="mt-4">
        <img [src]="imageData" [alt]="form.value.name" class="w-[200px] h-[200px] object-cover border rounded-md" />
      </div>
    </div>

    <!-- Submit Button -->
    <div class="w-full mt-4">
      <button
        class="bg-blue-600 text-white px-4 py-2 rounded-md shadow hover:bg-blue-700 disabled:opacity-50 disabled:cursor-not-allowed"
        type="submit" [disabled]="!form.valid">
        Create Client
      </button>
    </div>

  </div>
</form>